@model Movly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>@Html.DisplayNameFor(m => m.Genre): @Model.Genre.Name</li>
    <li>@Html.DisplayNameFor(m => m.ReleaseDate): @Model.ReleaseDate.Value.ToLongDateString()</li>
    <li>@Html.DisplayNameFor(m => m.DateAdded): @Model.DateAdded.Date.ToLongDateString()</li>
    <li>@Html.DisplayNameFor(m => m.NumberInStock): @Model.NumberInStock</li>
</ul>

